.DAS{
display: block;
    height: 60px;
    padding: 20px;
    margin: 20px;
    width: 160px;
    border-radius: 9px;
    color: #000 !important;
    border: solid 1px #ddd;
}
.chartShortcuts {
	background-color:#FFF;
	border-radius:9px;
}