.MMA{
	border:solid 1px #DDD;
	border-radius:3px;
	padding:10px 20px 20px 20px;
}
.PLA{
    line-height: 40px;
	border-bottom:solid 1px #DDD;
}

.PLA .B,.PLA .A,.PLA .C{
	border-radius:3px;
	height:24px;
	border:solid 1px #999;
	width:250px;
	text-align:center;
}
.PLA .A{
	width:51px;
}
.ADD{
    line-height: 22px;
	height:26px;
}
.DLT{
	display:inline-block;
	text-decoration:underline;
	cursor:pointer;
}