@font-face {
    font-family: 'josefin sans';
    src: url('../fonts/JosefinSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0px;
	padding-top: 50px;
	font-family:'josefin sans';
}
/*swiper start*/
html,body{
	position:relative;
	height:100%;
}
a{
	color:initial !important;
	text-decoration:initial !important;
}
.LIS{
	padding: 20px 10px 0px !important;	
}
.LIZ{
    border: solid 1px #DDD;
    padding: 20px 4px !important;	
}
.LIZ:hover{
	border-color:#ccc;
}
.SMT{
	font-size:12px;
}
.MTO{

}
.NOP{
	padding:0px !important;
}
.SLL {
    max-width: 50%;
    left: 10%;
    padding: 34px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    bottom: 10%;
    position: absolute;
    background: rgba(255, 255, 255, 0.49);
    color: #FFF;
    font: bold 34px/41px 'josefin sans';
    text-transform: uppercase;
}
.swiper-container{
	width:100%;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
.swiper-slide{
	background-size:cover;
	background-position:center;
	cursor:pointer;
}
.gallery-top{
	height:80%;
	width:100%;
}
.gallery-thumbs{
	height:20%;
	box-sizing:border-box;
	padding:10px 0;
}
.gallery-thumbs .swiper-slide{
	width:100px;
	height:100%;
	opacity:0.4;
}
.gallery-thumbs .swiper-slide-active{
	opacity:1;
}
.gallery-top{
	width:100%;
	height:auto;
}
.gallery-top img {
    vertical-align: middle;
    margin: auto;
    display: block;
	width:100%;
}
.gallery-thumbs{
	height:95px;
}
/*swiper END*/
.MIM{
	height:50px;
	margin:30px;
	width:auto;
}
.DMT{
	margin-top:40px !important;
	margin-bottom:40px !important;
}
.SMT{
	margin-top:20px !important;
	margin-bottom:20px !important;
}
.CNO{
    width: 80%;
    background: #676767;
    color: #FFF;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 50px 10px 10px 10px;	
}
.CNO:hover{
	background:#999;
	cursor:pointer;
}
.CP{
	cursor:pointer;
}
.NOP{
	padding:0px !important;
}
.BGR{
	background:#f6f6f6;
}
.HDL{
	padding: 20px 15px 0px 15px;
    font: normal 34px/50px josefin sans;
}
.LAB{
	font: normal 20px/74px josefin sans;	
}
#MAP{
	width:100%;
	height:500px;
}
.DVS{
    background: #d4af37;
}
a:focus{
	text-decoration:none !important;
}
.BLU{
	background:#162784;
}
.BLD{
    background: #000;
    border-top: solid 1px #4b4c4d;
	padding: 40px 20px !important;
	font: bold 20px/22px 'josefin sans';
}
.WHI,.WHI a{
    color: #FFF !important;
}
.DIV{
    padding: 20px 0px;	
}
.MAI{
	max-width:100%;
}
.LOG{
	position: absolute;
    left: 31px;
    top: 16px;
    color: #fff;
    font: bold 22px/22px 'josefin sans';
    letter-spacing: 2px;
	text-decoration:none;
}
.LOG a{
	color:#fff !important;
	text-decoration:none !important;
}
.TEL{
	position: absolute;
    right: 20px;
    top: 16px;
    color: #333;
	font: normal 16px/22px 'josefin sans';
    letter-spacing: 2px;
	text-decoration:none;
}
.TEL a{
	color: #fff !important;
    font-weight: bold;
	text-decoration:none;
}
.dd{
	display:none !important;
	float:right !important;
	margin:4px 12px !important;
	width:auto !important;
}
.dd-item{
	font-size: 11px !important; 
}
.FHE{
	position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    background:#000;
	z-index:999;
    box-shadow: 1px 1px 6px 0px #0e0e0e;
}
.HLI{
    display: inline-block;
}
.L {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    height: 50px;
    color: #fff !important;
    margin-left: -5px;
    text-align: center;
    font: normal 12px/52px 'josefin sans';
    padding: 0px 10px;
    background: #000;
    text-transform: uppercase;
	cursor:pointer;
}
.L:hover {
    background: #d7d7d7;
    text-decoration: none;
    color: #FFF;
}
.L .fa{
	display:none;
}
.ffa .fa{
	display:block !important;
}
.dd2{
	display:block !important;
}
/*Mstart*/
.cont {
	display:none;
    cursor: pointer;
}
.CLE{
	width:100% !important;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:#333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*Mend*/
@media (max-width: 1125px){
	.dd-handle {
		height: 27px !important;
		margin: 2px 0 !important;
	}
	.SLL {
		max-width: 75%;
		font: bold 14px/22px 'josefin sans';
	}
	body{
		padding-top: 50px;
	}
	.TEL{
		display:none;
	}
	.LOG{
		font: bold 30px/54px 'josefin sans';
		left: 12px;
		z-index: 9999;
		position: fixed;
		padding:0px;
		height:initial !important;
		color: #FFF;
		top: 0px;
	}
	.HLI{
		box-shadow: 1px 1px 3px 0px #797979;
		position:fixed !important;
		display:none;
		margin-top: 50px;
		position: fixed;
		z-index: 99;
	}
	.HLI .L{
		width:100%;
	}
	.L{
		text-align: left !important;
		font: normal 14px/50px 'josefin sans' !important;
		padding: 0px 40px !important;
		margin-left: 0px !important;
	}
	.CNT {
		margin-top: 50px;
		overflow: auto;
		position: fixed;
		width: 100%;
		height: calc(100% - 50px);
	}	
	.CLE{
		top:0px;
		position: absolute !important;
		z-index:999;
		width:100% !important;
		height: 50px;
		background: #1abc9c;
	}
	.CLE .F{
		font: normal 18px/78px ''josefin sans'';
		display:none;
		padding: 0px 20px;
		height: 50px;
		width:100%;
		margin-left: 0px; 
		text-align:left;
		padding:0px 28px;
	}
	.HD3 h3{
		font: normal 18px/40px ''josefin sans'' !important;	
	}
	.CLE .DG{
		display:inline-block;
		background: #2f2c5f;
	}
	.cont {
    display: inline-block;
    position: absolute;
    right: 0px;
    margin: 0px !important;
    top: 0px;
    width: 50px;
    height: 50px;
    padding: 6px;
    z-index: 9999;
    transform: scale(1);
	}	
	.MCO{
		line-height: 15px;
	}
}